:root {
  --primary: #5fcde4;
  --primary-text: #1a1a1a;
  --secondary: #5FCDE4;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

body{
  background-color: #000000;
  background-image: url('./images/bg.png') !important; ;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center ;
}



.flexContainer{
  display:flex;
  align-items:center;
  justify-content:center;
  vertical-align:middle;
  margin:10px auto;
}

.flexItems{
  width: 5%;
}
.flexItems > a > img{
  width: 60%;
}

@media only screen and (max-width: 600px) {
  body{
    background-image: url('./images/mobile_bg.png') !important; ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center ;
  }

  .flexItems{
    width: 15%;
  }
}

