:root {
  --primary: #5fcde4;
  --primary-text: #1a1a1a;
  --secondary: #5FCDE4;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

body{
  background-color: #000000;
  background-image: url('./images/bg.png') !important; ;
  background-size: cover;
  background-position: center ;
}



.flexContainer{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  vertical-align:middle;
  margin:10px auto;
  width: 40%;
}

.flexItems{
  width: 5%;
}
.flexItems > a > img{
  width: 100%;
}

@media only screen and (max-width: 600px) {
    .flexItems{
    width: 15%;
  }
}

